<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Socket.IO Example</title>
    <script src="/socket.io/socket.io.js"></script>
    <style>
        body {

            margin-left: 35em;
            margin-top: 2rem;
            background-color: aqua;

        }





        .form {
            margin-top: 25px;
            position: fixed;
            top: 32rem;
            left: 20rem;

        }

        .form>input {

            height: 55px;
            width: 50rem;

        }

        .form>button {
            height: 50px;

        }

        hr {
            width: 500vh;
            margin-left: -100vh;
        }
    </style>
</head>

<body>
    <h1>Socket.IO Example</h1>

    <div class="card">
        <ul id="messages">
            <hr>
            <%aa.forEach((a)=> { %>
                <li>
                    <%= a.text %>

                </li>

                <p> "<%= a.sender %>" Tarafından gönderildi</p>
                <hr>

                <% }) %>
                    <br><br><br><br><br>

        </ul>

    </div>
    <div class="form">
        <input type="text" id="messageInput" placeholder="Mesajınızı yazın">
        <button onclick="sendMessage()">Mesaj Gönder</button>

    </div>
    <script>
        const socket = io();

        function sendMessage() {
            //
            const message = document.getElementById('messageInput').value;

            socket.emit('messageFromClient', { message });
            document.getElementById('messageInput').value = '';

        }


        socket.on('messageFromServer', (data) => {

            const message = document.getElementById("messages");
            const li = document.createElement("li");

            li.textContent = data.message;

            if (data.message != "") {
                message.appendChild(li);
            }

        });


        message.addEventListener('keypress', () => {
            socket.emit("typing", data.user);

        })



        socket.on('typing', data => {
            feedback.innerHTML = '<p>' + data.user + 'yazıyor...'
        });




        const messageContainer = document.getElementById('messages');
        const message = document.getElementById('messages');




    </script>
</body>

</html>